body { 
    background-color: black 
}

header {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
} 

#download {
    font-family: Verdana;
    font-weight: normal;
    font-size: 16px;
    color: aquamarine;
    text-align: center;
}

a {
    color:aquamarine
}

video {
    display: block;
    margin: auto;
}

h1 {
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
    color: white;
    text-align: center;
}

.description {
    font-family: Verdana;
    font-size: 21px;
    color: gray;
    text-align: center;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
